@model WebApplication2TEST.Models.Voyage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Voyage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AgenceVoyage.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgenceVoyage.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAller)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAller)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRetour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRetour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlacesDisponibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlacesDisponibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixParPersonne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixParPersonne)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
